# URL of privacy policy
#
# If not set, links to the privacy policy will not be shown
# PUBLIC_PRIVACY_POLICY_URL=TODO

# Client ID of Spotify app
#
# https://developer.spotify.com/dashboard
PUBLIC_SPOTIFY_CLIENT_ID=TODO
